body {
    background-color: #3035;
    font-family: Arial, sans-serif;
}

h1 {
    color: #fff;
    font-size: 2em;
    text-align: center;
}

.results{
    margin: 0 auto;
    width: 80%;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.video{
    height:10%;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}

.video img{
    width: 5%;
    height: 100%;
}